@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  background-color: #20CE99;
  color: white;
  border: none;
  border-radius: 5px;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: green;
}
h1 {
  font-size: inherit;
}
.header h1 {
  background-color: white;
  color: #20CE99;
  text-align: center;
  font-size: 32px;
}
.header nav {
  display: flex;
  justify-content: space-around;
}
.header nav .ticker-btn {
  border: none;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
}
.banner {
  background-color: #20CE99;
  color: white;
  text-align: center;
}
.banner h2 {
  padding: 20px 0px;
  font-size: 28px;
}
.section {
  width: 80%;
  display: block;
  margin: auto;
}
.section h3 {
  text-align: center;
  font-size: 24px;
}
.section .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section .wrapper .graph-frame {
  text-align: center;
  margin-bottom: 50px;
}
.section .wrapper .graph-frame ul {
  display: flex;
  justify-content: center;
}
.section .wrapper .graph-frame ul button {
  margin: 0px 10px;
  font-size: 14px;
  padding: 5px 10px;
}
.section .wrapper .text-frame p {
  width: 400px;
  text-align: justify;
}
.section .wrapper-reverse {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.section .wrapper-reverse .graph-frame {
  text-align: center;
  margin-bottom: 50px;
}
.section .wrapper-reverse .graph-frame ul {
  display: flex;
  justify-content: center;
}
.section .wrapper-reverse .graph-frame ul button {
  margin: 0px 10px;
  font-size: 14px;
  padding: 5px 10px;
}
.section .wrapper-reverse .text-frame p {
  width: 400px;
  text-align: justify;
}
.section .section-line {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 40px;
  border: solid 1px #20CE99;
  border-radius: 40%;
  background-color: #20CE99;
}
.price-section {
  display: flex;
  justify-content: center;
}
.price-section .price-history-wrapper ul {
  display: flex;
  justify-content: space-around;
}
.price-section .price-history-wrapper ul .price-history-option {
  font-size: 18px;
  padding: 5px 10px;
}
