@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  background-color: #20CE99;
  color: white;
  border: none;
  border-radius: 5px;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: #168c68;
}
h1 {
  font-size: inherit;
}
.header {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #20CE99;
}
.header h1 {
  margin-top: 20px;
  background-color: white;
  color: #20CE99;
  text-align: center;
  font-size: 32px;
}
.header nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header nav .ticker-btn {
  border: none;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 5px;
}
.empty-section {
  width: 100%;
  height: 160px;
}
.banner {
  background-color: #20CE99;
  color: white;
  text-align: center;
}
.banner h2 {
  padding: 20px 0px;
  font-size: 28px;
}
.section {
  width: 80%;
  display: block;
  margin: auto;
}
.section h3 {
  text-align: center;
  font-size: 24px;
}
.section .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section .wrapper .graph-frame {
  text-align: center;
  margin-bottom: 50px;
}
.section .wrapper .graph-frame ul {
  display: flex;
  justify-content: center;
}
.section .wrapper .graph-frame ul button {
  margin: 0px 10px;
  font-size: 14px;
  padding: 5px 10px;
}
.section .wrapper .text-frame p {
  width: 400px;
  text-align: justify;
}
.section .wrapper-reverse {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.section .wrapper-reverse .graph-frame {
  text-align: center;
  margin-bottom: 50px;
}
.section .wrapper-reverse .graph-frame ul {
  display: flex;
  justify-content: center;
}
.section .wrapper-reverse .graph-frame ul button {
  margin: 0px 10px;
  font-size: 14px;
  padding: 5px 10px;
}
.section .wrapper-reverse .text-frame p {
  width: 400px;
  text-align: justify;
}
.section .section-line {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 40px;
  border: solid 1px #20CE99;
  border-radius: 40%;
  background-color: #20CE99;
}
.price-section {
  display: flex;
  justify-content: center;
}
.price-section .price-history-wrapper h3 {
  text-align: center;
  font-size: 24px;
}
.price-section .price-history-wrapper ul {
  display: flex;
  justify-content: space-around;
}
.price-section .price-history-wrapper ul .price-history-option {
  font-size: 18px;
  padding: 5px 10px;
}
footer {
  background-color: #20CE99;
  color: white;
}
footer p {
  padding: 20px 0px;
  margin: auto;
  width: 80%;
}
.about-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  float: right;
  border-radius: 50%;
  font-size: 32px;
  padding: 5px 14px;
  border: solid 2px white;
}
.modal {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  background: rgba(0, 0, 0, 0.8);
}
.modal .modal-frame {
  width: 100%;
  margin-top: 100px;
}
.modal .modal-frame .modal-content {
  margin: auto;
  width: 600px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
}
.modal .modal-frame .modal-content h1 {
  text-align: center;
  font-size: 28px;
}
.modal .modal-frame .modal-content p {
  width: 500px;
  margin: auto;
  text-align: justify;
  margin-top: 40px;
  margin-bottom: 40px;
}
.modal .modal-frame .modal-content button {
  display: block;
  margin: auto;
  font-size: 20px;
  padding: 6px 14px;
}
